@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 20em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 26.5625em) {
      @content;
    }
  }

  @if $breakpoint == tabletOne {
    @media (max-width: 34.375em) {
      @content;
    }
  }

  @if $breakpoint == tabletTwo {
    @media (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media (max-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == lg-laptop {
    @media (max-width: 90em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 90.0625em) {
      @content;
    }
  }
}
