.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(#89f7fe, 0.7),
      rgba(#66a6ff, 0.7)
    ),
    url("../img/image-1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 85vh, 0 100%);

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 85vh, 0 100%);
  }

  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.header-2 {
  height: 105vh;
  background-image: linear-gradient(
    to right,
    rgba(#89f7fe, 0.7),
    rgba(#66a6ff, 0.7)
  );
  position: relative;

  -webkit-clip-path: polygon(100% 100%, 0% 80%, 0% 20%, 100% 0%);
  clip-path: polygon(100% 100%, 0% 80%, 0% 20%, 100% 0%);

  @include respond(phone) {
    -webkit-clip-path: polygon(100% 100%, 0% 80%, 0% 20%, 100% 0%);
    clip-path: polygon(100% 100%, 0% 80%, 0% 20%, 100% 0%);
  }
}
