.section-about {
  height: 90vh;
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(phone) {
    height: 80vh;
  }
}

.section-skills {
  height: 90vh;
  background-color: #f7f7f7;
  padding: 70rem 0;
  margin-top: -10vh;

  @include respond(tabletTwo) {
    padding: 70rem 0;
  }

  @include respond(tabletOne) {
    padding: 70rem 0;
  }

  @include respond(phone) {
    margin-top: 30vh;
  }
}

.section-resume {
  margin-top: 250px;

  .envelope {
    position: relative;
    margin: 50px auto 0;
    width: 250px;
    height: 225px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 15px #c94548 inset;
  }
  .envelope:before,
  .envelope:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 112px 125px;
  }

  .envelope:before {
    top: -100%;
    left: 0px;
  }
  .envelope:after {
    border-right-color: #ed4c50;
    border-left-color: #fa565a;
    border-bottom-color: #fa565a;
    top: 0;
    border-radius: 0 0 5px 5px;
    transform: rotate(360deg);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
}

.section-projects {
  background-color: #f7f7f7;
  padding: 58rem 0;
  height: 95vh;
}

.section-footer {
  color: white;
  background-color: black;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  margin-top: 20rem;

  @include respond(phone) {
    padding: 0.5rem 0;
  }

  li {
    margin-top: 1rem;
    font-size: 25px;

    @include respond(lg-laptop) {
      margin-top: 0;
    }
  }
}

.section-about-description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.composition {
  position: relative;

  &-photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.8);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: 4rem;

      @include respond(phone) {
        width: 50%;
        left: 2rem;
      }

      @include respond(small-phone) {
        width: 50%;
        left: 2rem;
      }
    }

    &--p2 {
      left: 12rem;
      top: 10rem;

      @include respond(small-phone) {
        left: 10rem;
        top: 10rem;
      }
    }

    &--p3 {
      top: 25rem;

      @include respond(small-phone) {
        left: 8rem;
        top: 20rem;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(6px);
      box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
      z-index: 20;
    }
  }

  &:hover &-photo:not(:hover) {
    transform: scale(0.95);
  }
}

.link-list-container {
  ul {
    justify-content: space-evenly;
    display: flex;

    li {
      padding: 1rem;
      font-size: 6rem;
      list-style: none;

      @include respond(phone) {
        font-size: 6rem;
      }

      .linkedin-text-animation {
        animation-name: moveInLeft;
        animation-duration: 3s;
      }

      .github-text-animation {
        animation-name: moveInRight;
        animation-duration: 3s;
      }

      &:hover {
        border-bottom: 0.3rem solid white;
      }

      a {
        color: white;
        text-decoration: none;
        padding-bottom: 1.5rem;

        p {
          font-size: 2.5rem;
          margin-top: -2rem;

          @include respond(phone) {
            font-size: 1.8rem;
          }

          @include respond(small-phone) {
            margin-top: -1.1em;
          }
        }
      }
    }
  }
}

.skill-container {
  margin: 0 auto;
  padding: 5px;

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;

    .icon-container {
      margin: 2.5rem;

      @include respond(phone) {
        margin: 0.8rem;
      }

      li {
        list-style: none;

        img {
          height: 5.5rem;

          @include respond(laptop) {
            height: 4.7rem;
          }

          @include respond(tab-port) {
            height: 4.2rem;
          }

          @include respond(phone) {
            height: 4rem;
          }

          @include respond(small-phone) {
            height: 1rem;
          }
        }

        i {
          font-size: 6rem;

          @include respond(laptop) {
            font-size: 5.5rem;
          }

          @include respond(tab-port) {
            font-size: 5rem;
          }

          @include respond(phone) {
            font-size: 4.75rem;
          }

          @include respond(small-phone) {
            font-size: 1.5rem;
          }
        }
      }

      p {
        font-size: 2rem;

        @include respond(laptop) {
          font-size: 1.5rem;
        }

        @include respond(tab-port) {
          font-size: 1.5rem;
        }

        @include respond(small-phone) {
          font-size: 1rem;
        }
      }
    }
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: $default-font-size;
  background-color: white;
}
